@page
@model CleanZone.Pages.ListDivisions.IndexModel
@{
}
<h1>List of Divisions</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cleaning Needed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var division in Model.DivisionViewModel.OrderBy(d => d.IsClean))
        {
            <tr>
                <td>@division.Name</td>
                <td>@(division.IsClean ? "Clean" : "Needs Cleaning")</td>
            </tr>
        }
    </tbody>
</table>

<form method="post">
    <button type="submit" name="enviar" class="btn btn-primary">Send Emails for Unclean Divisions</button>
</form>
@if (TempData.ContainsKey("Sucesso"))
{
    <div class="alert alert-success">
        @TempData["Sucesso"]
    </div>
}