@page
@model CleanZone.Pages.Public.IndexModel
@{
}

<h1>Estatísticas de Utilização</h1>

<p>Número de Utilizadores: @Model.Model.NumberOfUsers</p>
<p>Média de Edifícios: @Model.Model.AverageBuildings</p>
<p>Número Total de Divisoes Criadas: @Model.Model.NumberOfDivisions</p>
<p>Número Total de Divisoes Limpas: @Model.Model.NumberOfCleanDivisions</p>
<!-- Outras estatísticas relevantes -->

<a href="/">Voltar à Página Inicial</a>
