@page
@model CleanZone.Pages.Divisions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Division</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Division.Name" class="control-label"></label>
                <input asp-for="Division.Name" class="form-control" />
                <span asp-validation-for="Division.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Division.CleanTime" class="control-label">Indique com que frequência pretende efetuar a limpeza (dias):</label>
                <input asp-for="Division.CleanTime" class="form-control" />
                <span asp-validation-for="Division.CleanTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Division.CleanInterval" class="control-label">Indique quanto tempo demora a limpeza (minutos):</label>
                <input asp-for="Division.CleanInterval" class="form-control" />
                <span asp-validation-for="Division.CleanInterval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Division.LastClean" class="control-label">Indique a data da última limpeza (DD-MM-YYYY):</label>
                <input asp-for="Division.LastClean" class="form-control" />
                <span asp-validation-for="Division.LastClean" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Division.AreaId" class="control-label">Area Name</label>
                <select asp-for="Division.AreaId" class ="form-control" asp-items="ViewBag.AreaID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
