@page
@model CleanZone.Pages.ImportBuilding.IndexModel
@{
}
@using Microsoft.AspNetCore.Mvc.ViewFeatures

<h1>Import Residence in YAML</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="ResidencyYamlFile">
            Select a YAML file:
        </label>
        <input type="file" id="ResidencyYamlFile" name="ResidencyYamlFile" class="form-control-file"  /> 
    </div>
    <button type="submit" class="btn btn-primary">Import</button>
</form>


